In [2]:
import numpy as np
import pandas as pd

In [46]:
df = pd.read_csv('diamonds.csv', index_col='Unnamed: 0')
df['quality-color'] = df['cut'] + ', ' + df["color"]
df.drop(index=[4,5,6,1], inplace=True)
df[(df['depth'] > 5) & (df['x'] > 5) & (df['y'] > 5)]
df.dtypes
X = df.groupby(['cut'])
X['color'].nunique().reset_index()

         cut  color
0       Fair      7
1       Good      7
2      Ideal      7
3    Premium      7
4  Very Good      7

In [4]:
df[df['cut'] == 'Premium']['color']
df.iloc[0:2, 1:3]

       cut color
2  Premium     E
3     Good     E

In [5]:
D = {
'ord_no':[70001,70009,70002,70004,70007,70005,70008,70010,70003,70012,70011,70013],
'purch_amt':[150.5,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45, 75.29,3045.6],
'ord_date': ['2012-10-05','2012-09-10','2012-10-05','2012-08-17','2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
'customer_id':[3005,3001,3002,3009,3005,3007,3002,3004,3009,3008,3003,3002],
'salesman_id': [5002,5005,5001,5003,5002,5001,5001,5004,5003,5002,5004,5001]}
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 53936 entries, 2 to 53940
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   carat          53936 non-null  float64
 1   cut            53936 non-null  object
 2   color          53936 non-null  object
 3   clarity        53936 non-null  object
 4   depth          53936 non-null  float64
 5   table          53936 non-null  float64
 6   price          53936 non-null  int64
 7   x              53936 non-null  float64
 8   y              53936 non-null  float64
 9   z              53936 non-null  float64
 10  quality-color  53936 non-null  object
dtypes: float64(6), int64(1), object(4)
memory usage: 4.9+ MB

In [6]:
fd = pd.DataFrame(D)
Y = fd.groupby('salesman_id')
Y['ord_date'].min()

salesman_id
5001    2012-04-25
5002    2012-06-27
5003    2012-08-17
5004    2012-08-17
5005    2012-09-10
Name: ord_date, dtype: object